* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/* 版心 w */
.w {
  width: 1200px;
  margin: auto;
}
a {
  text-decoration: none;
}
/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body {
  background-color: #f3f5f7;
  /* height: 3000px; */
}
/* 头部区域开始啦！ */
.header {
  height: 42px;
  /* 注意此地方会层叠w里面的margin */
  margin: 30px auto;
}
.logo {
  float: left;
  width: 198px;
  height: 42px;
}
.nav {
  float: left;
  margin-left: 60px;
}
.nav ul li {
  float: left;
  margin: 0 15px;
}
.nav ul li a {
  /* a是行内元素 */
  display: inline-block;
  height: 42px;
  padding: 0 10px;
  line-height: 42px;
  font-size: 18px;
  color: #050505;
}
.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  color: #00a4ff;
}
.search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 70px;
}

.search input {
  /* input和button属于行内块元素，两人中间有缝隙，所以需要设置浮动 */
  float: left;
  width: 345px;
  height: 40px;
  border: 1px solid #00a4ff;
  border-right: 0;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 15px;
}
.search button {
  float: right;
  width: 50px;
  height: 42px;
  /* button按钮默认有边框，需要我们收到去掉 */
  border: 0;
  background: url(images/btn.png);
}
.user {
  float: right;
  line-height: 42px;
  margin-right: 30px;
  font-size: 14px;
  color: #666;
}
/* 头部区域结束啦！ */

/* banner区域 */
.banner {
  height: 421px;
  background-color: #1c036c;
}
.banner .w {
  height: 421px;
  background-color: pink;
  background: url(images/banner2.png) no-repeat top center;
}
.subnav {
  float: left;
  width: 190px;
  height: 421px;
  background: rgba(0, 0, 0, 0.3);
}
.subnav ul li {
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
}
.subnav ul li a {
  font-size: 14px;
  color: #fff;
}
.subnav ul li a span {
  float: right;
}
.subnav ul li a:hover {
  color: #00a4ff;
}
/* banner区域结束了 */

/* 课程模块开始了 */
.course {
  float: right;
  width: 230px;
  height: 300px;
  background-color: #fff;
  /* 浮动的盒子不会有外边距合并的问题 */
  margin-top: 50px;
}
.course h2 {
  height: 48px;
  background-color: #9bceea;
  font-size: 18px;
  /* 水平居中 */
  text-align: center;
  /* 垂直居中 */
  line-height: 48px;
  color: #fff;
}
.bd {
  padding: 0 20px;
}
.bd li {
  padding: 14px 0;
  border-bottom: 1px solid #ccc;
}
.bd ul li h4 {
  font-size: 16px;
  color: #4e4e4e;
}
.bd ul li p {
  font-size: 12px;
  color: #a5a5a5;
}
.bd .more {
  display: block;
  height: 38px;
  border: 1px solid #00a4ff;
  margin-top: 5px;
  text-align: center;
  line-height: 38px;
  color: #00a4ff;
  font-size: 16px;
  font-weight: 700px;
}
/* 课程模块结束了 */

/* 精品推荐模块 */
.goods {
  height: 60px;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
  /* 行高会继承，继承给三个孩子 */
  line-height: 60px;
}

.goods h3 {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  color:#00a4ff;
}
.goods ul {
  float: left;
  margin-left: 30px;
}
.goods ul li {
  float: left;
}
.goods ul li a {
  padding: 0 30px;
  font-size: 16px;
  color: #050505;
  border-left: 1px solid #ccc;
}
.mod {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  color: #00a4ff;
}
/* 精品推荐模块结束啦 */
/* box核心内容区域开始啦 */
.box {
  margin-top: 30px;
}
.box-hd {
  height: 45px;
}
.box-hd h3 {
  float: left;
  font-size: 20px;
  color: #494949;
}
.box-hd a {
  float: right;
  font-size: 12px;
  color: #a5a5a5;
  margin-top: 10px;
  margin-right: 30px;
}
/* 把li的父亲ul修改的足够宽，一行能装5个盒子就不会换行了 */
.box-bd ul {
  width: 1225px;
}
.box-bd ul li {
  /* 子绝父相 */
  position: relative;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 228px;
  height: 270px;
  background-color: #fff;
}
/* 让图片的大小和父亲li一样宽 */
.box-bd ul li > img {
  width: 100%;
}
.box-bd ul li em {
  /* 子绝父相 */
  position: absolute;
  top: 4px;
  right: -4px;
}

.box-bd ul li h4 {
  margin: 20px 20px 20px 25px;
  font-size: 14px;
  color: #050505;
  font-weight: normal;
}
.box-bd .info {
  margin: 0 20px 0 25px;
  font-size: 12px;
  color: #999;
}
.box-bd span {
  color: #ff7c2d;
}
/* box核心内容区域结束啦 */

/* footer区域开始啦 */
.footer {
  height: 415px;
  background-color: #fff;
}
.footer .w {
  padding-top: 35px;
}
.copyright {
  float: left;
}
.copyright p {
  margin: 20px 0 15px 0;
  font-size: 12px;
  color: #666;
}
.copyright .app {
  display: block;
  width: 118px;
  height: 33px;
  border: 1px solid #00a4ff;
  text-align: center;
  line-height: 33px;
  color: #00a4ff;
  font-size: 16px;
}
.links {
  float: right;
}
.links dl {
  float: left;
  margin-left: 100px;
}
.links dl dt {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}
.links dl dd a {
  font-size: 12px;
  color: #333;
}
/* footer区域开始啦 */
